# Django settings
DJANGO_SECRET_KEY=DJANGO_SECRET_KEY# Set your secret key
DJANGO_DEBUG=DJANGO_DEBUG# Set to 1 for debug mode, otherwise 0
DJANGO_ALLOWED_HOSTS=DJANGO_ALLOWED_HOSTS# Comma-separated list of allowed hosts

# PostgreSQL database configuration
POSTGRES_HOST=POSTGRES_HOST# Specify the database host
POSTGRES_DB=POSTGRES_DB# Name of the database
POSTGRES_USER=POSTGRES_USER# Database user
POSTGRES_PASSWORD=POSTGRES_PASSWORD# Database password
